*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url("1.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: sans-serif;
  background-attachment: fixed;

}
.menu-bar{
  background: rgba(0, 100, 0, 0.8);
  text-align: center;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li{
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: #fff;
}
.menu-bar ul li:hover{
  background: #2bab0d;
  border-radius: 3px;
}
.sub-menu-1{
  display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: rgb(0, 100, 0);
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color: #b2ff00;
}
.sub-menu-2{
  display: none;
}
.hover-me:hover .sub-menu-2{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
  background: rgb(0, 100, 0);
}
fieldset li{
  display: inline-flex;
}
.home_contents{
  margin: 8%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

table th{
  font-size: 20px;
}
table tr td{
  font-family: Roboto;
  padding-left: 80px;
}
table tr:nth-child(even){
  background: rgba(0, 0, 0, 0.85);
}


form {
	text-align: center;
}
form input,button{
    width: 300px;
    height: 40px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    padding-left: 5px;
    box-sizing: border-box;
	font-size: 15px;
	color: rgb(24, 23, 23);
    border-radius: 10px;
}
form input{
    padding-left: 40px;
}
form i {
	position: absolute;
	left: 15px;
	color: #333;
	font-size: 17px;
	top: 2px;
}
form span {
	position: relative;
}
form ::placeholder {
    color: rgb(119, 119, 165);
    font-weight: bold;
  }
form button {
	padding-left: 0;
	background-color: #337af4;
	letter-spacing: 1px;
	font-weight: bold;
    border-radius: 15px;
}
form button:hover {
	box-shadow: 2px 2px 5px #555;
	background-color: #b511f6;
  color:white;
}
